*{
    margin: 0;
}
body{
    background-color: lightgray;
    height: 100vh;
}
.container{
    background-color: white;
    height: 80%;
    width: 80%;
    border: 2px solid #d0caca;
    position: absolute;
    top: 10%;
    left: 10%;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

table {
    border-collapse: collapse;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    border: 1px solid lightgrey;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
  
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid lightgrey;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #4CAF50;
    color: white;
}

.pagination {
    /* display: inline-block; */
    position: absolute;
    top: 65%;
    left: 50%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}